.howto {
  padding: 100px 80px;
  background: #FFF8F0;
}

.howto-title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}

.howto-sub {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 600;
}

/* container */
.howto-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* card */
.howto-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFBF0;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #4B2D2B;
}

/* reverse layout */
.howto-card.reverse {
  flex-direction: row-reverse;
}

/* left side */
.howto-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* circle number */
.circle {
  width: 60px;
  height: 60px;
  background: #6C4D37;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 800;
}

/* text */
.text h3 {
  font-size: 28px;
  font-weight: 800;
}

.text p {
  margin-top: 8px;
  max-width: 400px;
}

/* image box */
.howto-img {
  width: 350px;
  height: 200px;
  background: #853C3C;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

/* mobile */
@media (max-width: 768px) {
  .howto-card,
  .howto-card.reverse {
    flex-direction: column;
    text-align: center;
  }

  .howto-left {
    flex-direction: column;
  }

  .text p {
    max-width: 100%;
  }
}