/* Custom CSS that works with Tailwind */
.nav-link.active {
    color: #00b81c !important;
}

.about-btn {
    background-color: #00b81c !important;
}

.about-btn:hover {
    background-color: #009618 !important;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}