.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif 
}

/* Header & Navigation */
header {
    background-color: #1a1a1a;
    padding: 20px 80px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-contact-nav {
    background-color: white;
    color: black !important;
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-color: #cccccc; 
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero-content {
    max-width: 500px;
}

h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #000;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #1a1a1a;
    font-weight: 500;
    margin-bottom: 40px;
}

/* Buttons */
.cta-buttons {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 0.9rem;
}

.btn-secondary {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 0.9rem;
}


footer {
    background-color: #1a1a1a;
    display: flex;           
    justify-content: center; 
    align-items: center;     
    height: 60px;            
}

footer p {
    margin: 0;               
    color: white;
}

/* For responsiveness */
@media (max-width: 768px) {
    header, .hero { padding: 20px; }
    h1 { font-size: 2.5rem; }
    .nav-links { display: none; }
}

.nav-links a {
    transition: color 0.3s ease; /* Makes the color fade smoothly */
}

.nav-links a:hover {
    color: #aaaaaa; /* Changes to light grey */
}

/* Contact Button (Navbar) */
.btn-contact-nav {
    transition: background-color 0.3s ease;
}

.btn-contact-nav:hover {
    background-color: #cccccc; /* Turns grey */

}

/* Our Services Button (Hero) */
.btn-primary {
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #333333; /* Lightens from pure black to dark grey */
}

/* Contact Us Button (Hero) */
.btn-secondary {
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #1a1a1a; /* Dark background */
    color: #ffffff;            /* Text turns white */
}